.animate.roll {
  animation-name: animate-roll;
  animation-duration: 1s;
}
@keyframes animate-roll {
  0% {
    opacity: 0;
    transform: scale(0, 0) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) rotate(0deg);
  }
}

.delay-6 {
  animation-delay: 0.1s;
}
.delay-7 {
  animation-delay: 0.2s;
}
.delay-8 {
  animation-delay: 0.3s;
}
